<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
	<!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

	<title>Server-Sent Events</title>
	<link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
	<h1>Server-Sent Events</h1>

	<div class="col-md-6">
		<div class="input-group">
			<span class="input-group-addon">сообщение:</span>
			<input class="form-control" data-bind="value: message" placeholder="текст..."/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" data-bind="click: send">Отправить</button>
			</span>
		</div>
	</div>
	<p data-bind="text: content"></p>
</div>
<script src="../static/plugins/jQuery/jquery-2.2.3.js" th:src="@{/plugins/jQuery/jquery-2.2.3.js}"></script>
<script src="../static/plugins/knockout/knockout.debug.js" th:src="@{/plugins/knockout/knockout.js}"></script>
<script src="../static/js/sse.js" th:src="@{/js/sse.js}"></script>
<script>
	var app;
	$(document).ready(function () {
		app = new AppModel();
		ko.applyBindings(app);
	})
</script>
</body>
</html>
